.header__lang-link {
   width: 30px;
   height: 28px;
   display: inline-block;
   margin: 0;
   margin-right: 18px;
   margin-bottom: 6px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   
}
 .header__lang-link:nth-of-type(2) {
    margin-right: 0;

 }

 .header__lang-link:active {
   text-decoration: underline;
 }

 @media screen and (max-width: 320px) {
   .header__lang-link {
      width: 22px;
   height: 20px;

   font-size: 18px;
   line-height: 20px;  
   margin-top: 14px;
   margin-bottom: 8px;
 }

 }
 