.place__title {
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    max-width: 460px;
    border: 2px solid yellow;
    grid-area: title;
}



@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        min-width: 340px;
    }
}


@media screen and (max-width: 320px) {
    .place__title {
        min-width: 288px;
        font-size: 32px;
        line-height: 35px;
       
        
    }
}
