.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-template-rows: repeat(3, 1fr);
    
    margin: 92px auto;
    
    max-width: 1184px;
    min-height: 671px;

}

@media screen and (max-width: 768px) {
    .photo-grid {
    max-width: 720px;
    margin: 88px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 288px;
    gap: 12px;
    grid-template-rows: 216px;
    margin: 64px auto;

    }
}