.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-template-rows: repeat(3, 1fr);
    
    margin: 92px auto;
    
    width: 1184px;
    min-height: 671px;

}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 288px;
    gap: 12px;
    grid-template-rows: 216px;
    margin: 64px auto;

    }
}