.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    margin: 92px auto;
    justify-content: center;
    justify-items: center;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
        margin: 88px auto;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 288px;
        gap: 12px;
        margin: 64px auto;
    }
}