.place__image {
    height: 460px;
    width: 460px;
    grid-area: image;
}

@media screen and (max-width: 768px) {
    .place__image {
        height: 340px;
        width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
        height: 320px;
    }
}