.lead {
    border: 2px solid yellow;
    display: flex;
    margin: auto;
    margin-top: 56px;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
}

@media screen and (max-width: 320px) {
    .lead {
        width: 100%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}