.header {
    width: 1184px;
    min-height: 52px;
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    border: 2px solid red;
}

