.lead__title {
    text-align: center;
    max-width: 720px;
    /*max-height: 200px;*/
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    border: 2px solid rebeccapurple;
    margin: 0;
    margin-bottom: 32px;

}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
      
        font-size: 40px;
        line-height: 44px;  
        margin-bottom: 16px;

    }
}

