.lead__image {
    background-image: url('../../../images/lead__image.png');
    background-size: cover;
    max-width: 984px;
    height: 615px;
    display: block;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 100%;
        max-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 100%;
        max-height: 480px; 
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        width: 100%;
        max-height: 200px;
        background-size: contain;
    }
}