.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-bottom: 33px;

}

@media screen and (max-width: 320px) {
    .intro__text {
        margin-bottom: 34px;
    }
}