.lead__subtitle {
    margin: 0;
    width: 640px;
    height: 72px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 64px;
    border: 2px solid white;
}