@import url(../vendor/normalize.css);
@import url(../vendor/inter.css);
@import url(../BLOCKS/content/content.css);
@import url(../BLOCKS/header/header.css);
@import url(../BLOCKS/header/__logo/header__logo.css);
@import url(../BLOCKS/header/__lang-link/header__lang-link.css);
@import url(../BLOCKS/lead/lead.css);
@import url(../BLOCKS/lead/__title/lead__title.css);
@import url(../BLOCKS/lead/__subtitle/lead__subtitle.css);
@import url(../BLOCKS/lead/__image/lead__image.css);
@import url(../BLOCKS/lead/__caption/lead__caption.css);
@import url(../BLOCKS/lead/__route/lead__route.css);
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
