.place {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 40px;
    grid-template-rows: min-content auto;
    row-gap: 48px;
    grid-template-areas:
    'title website'
    'image paragraphs';
    border: 3px solid darkorange;
   
    max-width: 984px;
    
    margin: auto;
    margin-bottom: 80px;


}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 320px) {
    .place {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        margin-bottom: 50px;
    }
}