.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 2px solid slateblue;
    margin-bottom: 24px;
}

@media screen and (max-width:320px) {
    .footer {
       flex-direction: column;
       max-width: 186px;
       margin-left: 16px;
       min-height: 310px;
      

    }
}