.place__website {
   grid-area: website;
   align-self: end;
}

@media screen and (max-width: 591px) {
   .place__website {
      align-self: flex-start;
   }
}

@media screen and (max-width: 320px) {
   .place__website {
       min-width: 288px;
       margin: auto;
   }
}